# Other
*node_modules*
*.pdf
*.png
*.jpg
*.doc*
*.mp3
*.nav
*.log
*.out
*.snm
*.gz
*.toc
*.blg
*.ttt
*.fff
*.pygtex
*.pygstyle
*.opts
*.ico
*.learn
*.dbml
*.babelrc
*pre-commit
*.editorconfig
*copy-hooks
*debug-ide
*.cache
*.zip
*.project
*.prefs
*.ser
*.sln
*.sqlit*
*.suo
*.config
*.pdb
*.odg
*.settings
*.dll
*.resources
*LICENSE*
*.jade
*.map
*.min*
*.keep
*.rhistory
*npm*
*mocha*
*.md

# TeX
*.aux
*.bbl

# XML
*.xml
*.resx
*.xs*
*.classpath
*.class

# Ruby
*.jar
*rake*
*rails*
*Gemfile*
*rspec
*.rb
*.ru

# JS
*eslintrc
*.js*
*.json

# HTML/CSS
*.erb
*.html
*.css

# Other - Named
*.csv
*Makefile
*.yml
*.ipynb
*.coffee
*.ts