*.mp3
*.aux
*.nav
*.log
*.out
*.snm
*.gz
*.toc
*.bbl
*.bib
*.blg
*.ttt
*.fff
*.pygtex
*.pygstyle

*.dbml
*.babelrc
*.opts
*.ico
*.learn
*pre-commit
*.editorconfig
*copy-hooks
*debug-ide
*.cache

*.png
*.jpg
*.doc*

*.project
*.prefs
*.jar
*.zip
*.ser
*.sln
*.sqlit*
*.suo
*.config
*.pdb

*.resx
*.xs*
*.csv
*.odg
*.settings
*.dll
*.resources

*LICENSE*
*Makefile
*eslintrc
*.jade
*.map
*npm*
*.xml
*.min*

*sshpk*
*acorn*
*jade*
*rake*
*rails*
*.keep
*.erb
*.ru
*Gemfile*
*rspec

*.classpath
*.class
*.java

*mocha*
*.html
*.rkt
*.yml
*.ipynb
*.rhistory
*.js*
*.json
*.md
*.css
*.rb
*.coffee
*.ts
*.cs
*.cpp
*.pep