# Other
*ignore*
*DS_Store*
*node_modules*
*.pdf
*.png
*.jpg
*.doc*
*.mp3
*.mp4
*.nav
*.log
*.out
*.snm
*.gz
*.toc
*.blg
*.ttt
*.fff
*.pygtex
*.pygstyle
*.opts
*.ico
*.learn
*.dbml
*.babelrc
*pre-commit
*.editorconfig
*copy-hooks
*debug-ide
*.cache
*.zip
*.project
*.prefs
*.ser
*.sln
*.sqlit*
*.suo
*.config
*.pdb
*.odg
*.settings
*.dll
*.resources
*LICENSE*
*.jade
*.map
*.min*
*.keep
*.rhistory
*npm*
*mocha*

# TeX
*.aux
*.bbl

# XML
*.xml
*.resx
*.xs*
*.classpath
*.class

# Ruby
*.jar
*rake*
*rails*
*Gemfile*
*rspec

# JS
*eslintrc

# Other - Named
*.csv
*Makefile
*.yml
*.coffee
*.ts
2023Q1 - Discrete Event Simulation/Project/Simulations.ipynb

*.key
*.approj
*wandb*