.showopt {
color: #2C3E50;
width: auto;
height: auto;
text-align: center;
vertical-align: middle !important;
float: right;
font-family: sans-serif;
border-radius: 8px;
padding-right: 30px;
}

.showopt:hover {
    text-decoration: underline;
    color: red;
}

pre.plot {
  background-color: white !important;
}
